.weatherZipCode {
	text-align: center;
    color: blue;
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
}

.weatherProperty {
	text-align: center;
    height: 300px;
}

.weatherKey {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 45px;
}

.weatherValue {
	text-align: center;
	font-family: "Georgia", Times, serif;
	font-size: 90px;
    color: blue;
}

.weatherValueUnit {
	text-align: center;
	font-family: "Georgia", Times, serif;
	font-size: 30px;
    color: blue;
}

.weatherIconValue img {
	width: 100px; 
	height: 100px;
}

.weatherValueSub {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
    color: blue;
}

